.container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #dadada;
}
th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

.table-header {
  display: flex;
}
